body {
  width: 100vw;
  height: 100vh;
}
.enclosure {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .title {
    width: 60%;
    height: 20%;

    background: pink;
  }
  .search {
    width: 60%;
    height: 20%;

    background: orange;
  }
  .grid-enclosure {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .camera-capsule {
      width: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fit, 30%);

      grid-column-gap: 20px;

      justify-content: center;

      .camera-container {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .pic-capsule {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .status-n-name {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: center;

          .active {
            width: 80%;
            height: 100%;

            border-left: 3px solid green;
            h3 {
              margin: 0;
            }
            h1 {
              font-size: 20px;
              margin: 0;
            }
          }
          .inactive {
            width: 80%;
            height: 100%;
            border-left: 3px solid red;
            h3 {
              margin: 0;
            }
            h1 {
              margin: 0;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
