body {
  width: 100vw;
  height: 100vh;
}

.enclose {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(236, 232, 232);
  .icon {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to right, #8bf282, #15fad5);
  }
  .title {
    width: 60%;
    height: 10%;
  }
  .search {
    width: 60%;
    height: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: dotted 2px rgb(24, 23, 23);
    margin-bottom: 2%;
    input {
      width: 20%;
      height: 64%;

      border-radius: 20px;
    }
    .toggle {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .hidden {
        display: none;
      }
      .popUpContain {
        position: relative;
        width: 20%;
        height: 30%;
      }
    }
    .reverse {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .show {
        width: 70%;
        height: 70%;
        border-radius: 5px;
      }
      .hidden {
        display: none;
      }
    }
  }
  .grid-enclosure {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

    .camera-capsule {
      width: 80%;
      height: 80%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      grid-auto-rows: 29%;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-content: center;

      .camera-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 9px 10px -6px rgba(0, 0, 0, 0.75);
        align-items: center;
        border-radius: 10px;
        .pic-capsule {
          width: 100%;
          height: 80%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px 10px 0px 0px;
          }
        }
        .status-n-name {
          width: 100%;
          height: 45%;
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 0px 0px 5px 5px;
          background: rgb(228, 222, 222);

          .active {
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;

            border-left: 3px solid rgb(7, 204, 7);
            border-radius: 4px;
            h3 {
              font-size: 10px;
              margin: 0 0 0 2px;
              opacity: 0.5;
            }
            h1 {
              font-size: 12px;
              margin: 0 0 0 2px;
            }
          }
          .inactive {
            width: 90%;
            height: 90%;
            border-left: 3px solid red;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 4px;

            h3 {
              margin: 0 0 0 2px;
              font-size: 10px;
              opacity: 0.5;
            }
            h1 {
              margin: 0 0 0 2px;
              font-size: 12px;
            }
          }
        }
      }
      .hidden {
        display: none;
      }
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
